@font-face {
  font-family: 'Director Mono';
  src: url('../fonts/Director-Regular.woff2') format('woff2'),
  url('../fonts/Director-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Director Mono';
  src: url('../fonts/Director-Bold.woff2') format('woff2'),
  url('../fonts/Director-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Latitude';
  src: url('../fonts/Latitude-Regular.woff2') format('woff2'),
  url('../fonts/Latitude-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Authentic Sans';
  src: url('../fonts/AUTHENTICSans-90.woff2') format('woff2'),
  url('../fonts/AUTHENTICSans-90.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Authentic Sans';
  src: url('../fonts/AUTHENTICSans-130.woff2') format('woff2'),
  url('../fonts/AUTHENTICSans-130.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --orange: #FF6C2F;
  --teal: #00AAB3;
  --pink: #FF52B4;
  --green: #00AD5F;
  --yellow: #FFE800;
  --blue: #009BF5;
  --grey: #C4C4C4;

  --orangetint: #FFF5F1;
  --tealtint: #E4FEFF;
  --pinktint: #FCF2F8;
  --greentint: #F2FFF9;
  --yellowtint: #FFFDEB;
  --bluetint: #F4FEFF;
  --greytint: #f2f2f2;

  --text-panel-width: 25rem;
  --about-panel-width: 60rem;
  --line-length: 68rem;
}

[data-background-color="teal"] {
  background: var(--teal);
}
[data-background-color="grey"] {
  background: var(--grey);
}
[data-background-color="green"] {
  background: var(--green);
}
[data-background-color="pink"] {
  background: var(--pink);
}
[data-background-color="orange"] {
  background: var(--orange);
}
[data-background-color="blue"] {
  background: var(--blue);
}
[data-background-color="yellow"] {
  background: var(--yellow);
}
[data-background-color="tealtint"] {
  background: var(--tealtint);
}
[data-background-color="greytint"] {
  background: var(--greytint);
}
[data-background-color="greentint"] {
  background: var(--greentint);
}
[data-background-color="pinktint"] {
  background: var(--pinktint);
}
[data-background-color="orangetint"] {
  background: var(--orangetint);
}
[data-background-color="bluetint"] {
  background: var(--bluetint);
}
[data-background-color="yellowtint"] {
  background: var(--yellowtint);
}

@keyframes background {
  0% {background: var(--teal);}
  14% {background: var(--green);}
  28% {background: var(--yellow);}
  43% {background: var(--orange);}
  57% {background: var(--pink);}
  71% {background: var(--grey);}
  84% {background: var(--blue);}
  100% {background: var(--teal);}
}

@keyframes shadow {
  0% {
    background: var(--teal);
    box-shadow: 0 0 0.6rem 0.6rem var(--teal);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--teal);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--teal);
  }
  14% {
    background: var(--green);
    box-shadow: 0 0 0.6rem 0.6rem var(--green);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--green);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--green);
  }
  28% {
    background: var(--yellow);
    box-shadow: 0 0 0.6rem 0.6rem var(--yellow);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--yellow);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--yellow);
  }
  43% {
    background: var(--orange);
    box-shadow: 0 0 0.6rem 0.6rem var(--orange);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--orange);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--orange);
  }
  57% {
    background: var(--pink);
    box-shadow: 0 0 0.6rem 0.6rem var(--pink);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--pink);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--pink);
  }
  71% {
    background: var(--grey);
    box-shadow: 0 0 0.6rem 0.6rem var(--grey);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--grey);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--grey);
  }
  84% {
    background: var(--blue);
    box-shadow: 0 0 0.6rem 0.6rem var(--blue);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--blue);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--blue);
  }
  100% {
    background: var(--teal);
    box-shadow: 0 0 0.6rem 0.6rem var(--teal);
    -webkit-box-shadow: 0 0 0.6rem 0.6rem var(--teal);
    -moz-box-shadow: 0 0 0.6rem 0.6rem var(--teal);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Director Mono', monospace;
}

body {
  margin: 1.2rem;
  background-color: var(--manilla);
  overflow-x: hidden;
}

body.home {
  background-color: var(--teal);
  animation-name: background;
  animation-duration: 120s;
  animation-iteration-count: infinite;
}

.acknowledgement {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100vw - 2rem);
  font-size: 1rem;
  padding: 0.6rem 1rem 1rem 1rem;
  z-index: 99;
}

.timestamp {
  position: relative;
  width: fit-content;
  font-size: 0.85rem;
  text-transform: uppercase;
  height: 1rem;
  display: flex;
  align-items: center;
}

.timestamp::after, .acknowledgement::after {
  content: "";
  position: absolute;
  inset: 0;
  /* padding: 0.6rem; */
  z-index: -4;
  /* background: var(--teal); */
  animation-name: shadow;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  /* filter: blur(0.6rem); */
  box-shadow: 0px 0px 0.6rem 0.6rem var(--teal);
  -webkit-box-shadow: 0px 0px 0.6rem 0.6rem var(--teal);
  -moz-box-shadow: 0px 0px 0.6rem 0.6rem var(--teal);

}

h1, h2, h3, h4, h5 {
  font-weight: inherit;
}

header {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: calc(100vw - 2rem);
}

nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-family: 'Authentic Sans', sans-serif;
  font-size: 1.5rem;
  text-align: right;
}

nav > a {
  text-decoration: none;
}

#nav-texts-panel {
  background: white;
  width: var(--text-panel-width);
  max-width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: calc(0px - var(--text-panel-width));
  z-index: 99;
  padding: 1.2rem;
  box-sizing: border-box;
  transition: right 0.2s ease;
}

#nav-texts-panel.active {
  right: 0;
}

.panel-heading {
  font-family: 'Director Mono', monospace;
  font-size: 1.5rem;
  margin: 3rem 0 3rem 5rem;
}

.panel-heading:first-child {
  margin-top: 0;
}

.panel-close {
  font-family: 'Authentic Sans', sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}

.nav-contributor {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.nav-text {
  font-size: 1.5rem;
  font-family: 'Latitude', serif;
  margin: 0 0 2rem 2.5rem;
}

.nav-texts-panel a {
  text-decoration: none;
}

#about-panel {
  background: white;
  width: var(--about-panel-width);
  max-width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: calc(0px - var(--about-panel-width));
  z-index: 99;
  padding: 1.2rem;
  box-sizing: border-box;
  transition: left ease 0.3s;
  overflow-y: scroll;
}

#about-panel.active {
  left: 0;
}

#about-panel ul {
  column-count: 2;
}

#about-panel li {
  list-style-type: none;
  font-family: 'Authentic Sans', sans-serif;
}

#about-panel h4 {
  margin: 1rem 0 1rem 5rem;
}

.title {
  margin: 0 auto 2rem auto;
  text-align: center;
  max-width: 600px;
}

.landing {
  min-height: calc(100vh - 5rem);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
  overflow: hidden;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 10rem);
}

.artists {
  margin-bottom: 3rem;
}

.pattern-container {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.triangle {
  width: 30vmin;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  touch-action: none;
  user-select: none;
}

.triangle:hover svg {
  fill: white;
}

#tri-1 {
  transform: rotate(-50deg);
  margin-left: 35vw;
  margin-top: 20vh;
}
#tri-2 {
  transform: rotate(50deg);
  margin-left: 68vw;
  margin-top: 36vh;
}
#tri-3 {
  transform: rotate(-130deg);
  margin-left: 37vw;
  margin-top: 65vh;
}
#tri-4 {
  transform: rotate(130deg);
  margin-left: 75vw;
  margin-top: 70vh;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-family: 'Authentic Sans', sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: 'Authentic Sans', sans-serif;
  font-size: 1.5rem;
}

#subtitle {
  font-family: 'Latitude', serif;
}

.byline {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  font-family: 'Authentic Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 10rem;
  max-width: 1200px;
}

.sponsor-logo {
  height: 5rem;
  margin: 2rem 2rem 2rem 0;
  width: auto;
  z-index: -99;
}

.about {
  max-width: 70%;
  font-family: 'Latitude', serif;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

p {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
}

p+p {
  text-indent: 3em;
}

em {
  font-family: inherit;
}

strong {
  font-family: inherit;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}

.title > a {
  text-decoration: none;
}

a:hover,
a:focus {
  font-style: oblique;
}

.events {
  width: 100%;
  margin-bottom: 5rem;
}

.events-table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  margin-top: 1rem;
}

.events-table span {
  font-family: inherit;
  line-height: 1.4em;
}

.event-row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 1rem;
  align-items: baseline;
  border-top: 1px solid black;
  padding: 1rem 0 1rem 2rem;
  transition: all 0.2s ease;
}

.event-row[data-expandable="1"] {
  cursor: pointer;
}

.event-row[data-expandable="1"]:hover, .event-row:focus {
  background: rgba(255,255,255,0.1);
}

.event-row.active {
  /* max-height: fit-content; */
}

.event-row[data-expandable="1"]::before {
  content: '+';
  width: 2rem;
  font-family: 'Authentic Sans', sans-serif;
  position: absolute;
  top: 1.1rem;
  left: 0;
}

.event-row.active[data-expandable="1"]::before {
  content: '–';
}



.event-description {
  max-height: 0;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: span 3;
  max-width: 70%;
  font-family: 'Authentic Sans', sans;
  font-size: 1.3rem;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.event-row.active > .event-description {
  opacity: 1;
  max-height: none;
}

.event-item {
  font-family: 'Latitude', serif;
}

.event-item > a::after {
  content: ' \2197';
}

.pattern {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform-origin: center;
  transform: translate(-50%, -50%);
  display: none;
  width: 80vmin;
  z-index: -100;
}

.artist:hover,
.artist:focus {
  /* padding-left: 2rem; */
}

.artist {
  width: fit-content;
  /* transition: padding 0.2s ease; */
}

.artist:hover ~ .pattern,
.artist:focus ~ .pattern {
  display: block;
}

.artists > a {
  text-decoration: none;
}

main {
  margin-bottom: 12rem;
  /* max-width: 52rem; */

}

.work-title {
  font-family: 'Latitude', serif;
  font-size: 2.5rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
}

.work-body {
  font-family: 'Latitude', serif;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.work-body > p {
  max-width: var(--line-length);
}

.work-intro {
  font-size: 1.2rem;
  margin-bottom: 5rem;
  max-width: var(--line-length);
}

.work-bio {
  font-family: 'Authentic Sans', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 5rem;
  max-width: var(--line-length);
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: start;
}

.work-bio > figure {
  max-width: 15rem;
  margin: 0;
}

.work-bio > p {
  flex-grow: 1;
}

blockquote {
  font-family: 'Director Mono', monospace;
  text-align: center;
  margin: 2em 10%;
}

figure {
  width: fit-content;
  max-width: 68vw;
  max-height: 80vh;
  margin: 3rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about > figure {
  max-width: 100%;
}

figure > img {
  /* width: 100%; */
  max-width: inherit;
  max-height: inherit;
  margin: 0 auto;
}

figcaption {
  font-family: 'Director Mono', monospace;
  font-size: 0.9rem;
  text-align: left;
  margin-top: 1rem;
}

.figure-video {
  padding: 0;
  width: inherit;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
}



ol {
  padding-left: 5rem;

}

.notes li {
  font-size: 0.9rem;
  list-style-type: none;
}

table, tbody tr, td {
  font-family: 'Latitude', serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

table {
  margin: 3rem 0;
  max-width: var(--line-length);
}

td {
  vertical-align: baseline;
  padding-bottom: 1.8rem;
  width: 15%;
  min-width: 10rem;
}

td:first-child {
  width: 15%;
}

td:last-child {
  width: 60%;
}



@media only screen and (max-width: 1400px){
  :root {
    font-size: 14px;
  }
  h2 {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 900px){
  h2 {
    font-size: 2.8rem;
  }
  .event-description, .about {
    max-width: 100%;
  }
  .event-row {
    grid-template-columns: 1fr 1fr;
  }
  .acknowledgement {
    position: relative;
    margin: 4rem 0 2rem 0;
    padding: 0;
    z-index: -200;
  }


}

@media only screen and (max-width: 700px){
  .event-row {
    grid-template-columns: 1fr;
  }
  .title {
    margin-top: 3rem;
  }
  :root {
    --text-panel-width: 100vw;
    --about-panel-width: 100vw;
  }
  #nav-texts-panel, #about-panel {
    max-width: none;
  }
}
